{% extends 'games/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Catalog</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-9">
                    <nav class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-item toolbox-sort">
                                {#                                <div class="select-custom">#}
                                {#                                    <select name="orderby" class="form-control">#}
                                {#                                        <option value="menu_order" selected="selected">Default sorting</option>#}
                                {#                                        <option value="popularity">Sort by popularity</option>#}
                                {#                                        <option value="rating">Sort by average rating</option>#}
                                {#                                        <option value="date">Sort by newness</option>#}
                                {#                                        <option value="price">Sort by price: low to high</option>#}
                                {#                                        <option value="price-desc">Sort by price: high to low</option>#}
                                {#                                    </select>#}
                                {#                                </div><!-- End .select-custom -->#}

                                <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending Direction</span></a>
                            </div><!-- End .toolbox-item -->
                        </div><!-- End .toolbox-left -->
                    </nav>

                    <div class="row row-sm product-ajax-grid">
                        {% for game in object_list %}
                            <div class="col-6 col-md-4 col-xl-3">
                                <div class="product-default inner-quickview inner-icon">
                                    <figure>
                                        <a href="{{ game.get_absolute_url }}">

                                            <img src="{{ game.main_image.url }}" style="height: 200px;width:200px">
                                        </a>
                                        <div class="btn-icon-group">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal"
                                                    data-target="#addCartModal"><i class="icon-bag"></i></button>
                                        </div>
                                        <a href="{% url 'games:modal_game_view' game.slug %}" class="btn-quickview"
                                           title="Quick View">Quick View</a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title">
                                            <a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
                                        </h2>
                                        <div class="price-box">
                                            <span class="product-price">{{ game.price }}</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                        {% endfor %}
                    </div><!-- End .row -->
                    <form action="{% url 'api:get_games' %}" method="get" name="pagination">
                        <nav class="toolbox toolbox-pagination">
                            {% if is_paginated %}
                                <ul class="pagination">
                                    {% for page in paginator.page_range %}
                                        <li class="page-item">
                                            <button type="button" class="page-link" onclick="ajaxPagination.call(this, {{page}})"> {{ page }} </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                                </nav>
                            {% endif %}
                    </form>

                </div><!-- End .col-lg-9 -->

                <aside class="sidebar-shop col-lg-3 order-lg-first">
                    <form action="{% url 'api:get_games' %}" method="get" name="filter">
                        <div class="sidebar-wrapper">

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                                       aria-controls="widget-body-2">Genre</a>
                                </h3>

                                <div class="collapse show" id="widget-body-2">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            {% for genre in genres %}
                                                <li>
                                                    <input type="checkbox" class="checked" name="genres"
                                                           value="{{ genre.slug }}">
                                                    <span>{{ genre.name }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true"
                                       aria-controls="widget-body-4">Tags</a>
                                </h3>

                                <div class="collapse show" id="widget-body-4">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            {% for tag in tags %}
                                                <li>
                                                    <input type="checkbox" class="checked" name="tags"
                                                           value="{{ tag.slug }}">
                                                    <span>{{ tag.name }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true"
                                       aria-controls="widget-body-3">Price</a>
                                </h3>

                                <div class="collapse show" id="widget-body-3">
                                    <div class="widget-body">
                                        <div class="price-slider-wrapper">
                                            <div id="price-slider"></div><!-- End #price-slider -->
                                        </div><!-- End .price-slider-wrapper -->

                                        <div class="filter-price-action">
                                            <div class="filter-price-text">
                                                Price:
                                                <span id="filter-price-range"></span>
                                            </div><!-- End .filter-price-text -->
                                        </div><!-- End .filter-price-action -->

                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                                <br>
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div><!-- End .widget -->


                        </div><!-- End .sidebar-wrapper -->
                </aside>
                </form>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </main><!-- End .main -->
{% endblock %}
{% block js_scripts %}
    <script src="{% static 'assets/js/nouislider.min.js' %}"></script>

    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="http://twitter.github.io/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
{% endblock %}